streamlit
langchain
openai
python-dotenv
pandas
PyPDF2
faiss-cpu
xlsxwriter
tiktoken
unstructured
openpyxl
python-pptx
python-docx
tabulate
speechrecognition
pyaudio
openai-whisper
pipwin
langchain
langchain-openai